<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" 
          content="user-scalable=no,width=device-width" />
          
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/creat3Css.css" rel="stylesheet">
</head>

<body>
    <div class="container">
    <div class="container">
        <p class="text-center">
			<em>Step 3 of 3</em>
		</p>
    
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
            </div>
        </div>
        
        <div class="title_area">
            <h2>Sharing With</h2>
            <h4>Friend: </h4>
        </div>
       
        <div class="FriendList"> 
            <hr>
            {{#each friends}}
            <div class="friendsBox">
                <div class="thisPic" style="float:left">
                    <img src="{{imageURL}}" class="img-responsive img-thumbnail">
                </div>
                <div class="thisName" style="float:right">
                    <h4>{{name}}</h4>
                </div>
            </div>
            <hr>
            {{/each}}
        </div>
        
        <div class ="allwehave">
            <div class="backback" style="float:left">
                <h4><a href="/creat2" class="button">Back</a></h4>
            </div>
            
            <div class="pageEnd" style="float:right">
                <span style="display:inline; height: 10px;"></span>
                <h4><a href="/" class="button">Cancel</a><span style="display:inline-block; width: 8px;"></span><a id="2" href="#" class="button">Pin!</a></h4>
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/creat3Js.js"></script>
    </div>
</body>
</html>