<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" 
          content="user-scalable=no,width=device-width" />
          
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/creat1Css.css" rel="stylesheet">
</head>

<body>
    <div class="container">
    <div class="container">
        
        <div class="title_area">
            <h2>Help and Setting</h2>
        </div>
User Testing Instructions!
        <div>
Email cogs120pinned@gmail.com for additional questions!
<div>
Try to Pin a note!
<div>
1. Do a 360 around where you are. What stands out to you today?
<div>
2. Think of a few observations that stand out to you! Save these memories!
<div>
3. Title, record , and pin!
<div>
<div>
Look at public Pinned notes!
<div>
4. Do another 360. What would stand out to your friends or peers?
<div>
5. Think of a few observations that you would want to share
<div>
6. Title, record, share, and pin!
<div>
7. View the map
<div>
8. Click on a public note! What does it say?
<div>
<div>
Pinned Edits!
<div>
9.Do another 360!
<div>
10. What is  is different now then before?
<div>
11. Change your note!
<div>
Walk around and pin more observations!
</div>
        
        <div class="pageEnd">
            <span style="display:block; height: 14px;"></span>
			<h4><a href="/">Back</a>
        </div>
    </div>
</body>
</html>
