<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" 
          content="user-scalable=no,width=device-width" />
          
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/myCSS.css" rel="stylesheet">
</head>
      
      
<body>
    <div class="container">
        <div class="qbutton">
            <button class="btn" type="button"><font size="+1"><a href="/help">?</a></font></button>
        </div>
        
        <div class="logo_area"><img src="/images/logo.jpg" class="img-responsive img-rounded"></div>
        
        <div class="functionText">
            <h1><a href="/creat1">Pin a Note</a></h1>
            <h1><a id="1" href="#">Note Library</a></h1>
            <h1><a href="/friend">Friends</a></h1>
        </div>
        
        <div class="logoutText">
            <h4><a href="/login">Log Off</a></h4>
        </div>
        
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/index.js"></script>        
    </div>
</body>
</html>
