<!doctype html>

<html>
<head>


    <meta charset="utf-8">
    <meta name="viewport" 
          content="user-scalable=no,width=device-width" />
          
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/myCSS.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>
    <div class="container">   
        <div class="logo_area"><img src="/images/logo.jpg" class="img-responsive img-rounded"></div>
        
        <div class="title_area2">
            <h2><p>User Login</p></h2>
        </div>
        
        <form id="addFriendForm" role="form" method="get" action="/add">
            <div class="form-group">
                  <label for="E-mail"><h4>E-mail:</h4></label>
                  <input type="text" class="form-control" id="e-mail" placeholder="Name" name="name">
            </div>
            <div class="form-group">
                  <label for="Password"><h4>Password:</h4></label>
                  <input type="text" class="form-control" id="password" placeholder="Description" name="description">
            </div>
        </form>
        
        <div class ="allwehave">
            <div class="backback" style="float:left">
                <h4><a href="/" class="button">New User</a></h4>
            </div>
            
            <div class="pageEnd" style="float:right">
                <span style="display:inline; height: 14px;"></span>
                <h4><a href="/" class="button">Login</a></h4>
            </div>
        </div>
        
        <link href="../css/bootstrap.css" rel="stylesheet">
        <link href="../css/bootstrap-theme.css" rel="stylesheet">
        <link href="../css/myCSS.css" rel="stylesheet">
    </div>
</body>
</html>