<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" 
          content="user-scalable=no,width=device-width" />
          
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/creat1Css.css" rel="stylesheet">
</head>

<body>
    <div class="container">
    <div class="container">
        
        <div class="title_area">
            <h2>Note Library</h2>
        </div>
        
        <div class="pageEnd">
            <span style="display:block; height: 14px;"></span>
			<h4><a href="/">Back</a>
        </div>+
    </div>
</body>
</html>