html,
.container{
    background: #f7f7f7 url(https://css-tricks.com/examples/RoundButtons/images/bg.png) repeat center top;
}

#map {
    height: 510px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

img{
    width:45px; height:45px
}

h2{
  text-align: center;
}

h4{
	color: #8382BF;
}

.FriendList{
    padding-top: 10px;
    display: block;
    background: background: #f7f7f7 url(https://css-tricks.com/examples/RoundButtons/images/bg.png) repeat center top;
}

.friendsBox{
    display: inline-block;
}

.thisName{
    margin-left: 20px;
}

p{
    padding-top: 5px;
}

.progress{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 200px;
   height: 7px;
}

.progress-bar{
   width: 200px;
   height: 7px;
}

textarea {
   resize: none;
}

.Textbox{
    padding-top: 5px;
}

.pageEnd {
    display: inline;
}

.allwehave{
    display: inline;
}

.Newtop{
    display : inline;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #008CBA;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 20px;
  width: 90px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

